@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background-color: #8750E5;
}

h1,h2,h3,h4,h5,h6 {
  color: #111827;
}
@media print {

  body {
    background: white !important;
    color: #000;
    font-family: 'Inter', sans-serif;
  }

  button, footer, nav {
    display: none !important;
  }

  #dashboard {
    padding: 20px;
  }

  .dashboard-section {
    page-break-inside: avoid;
    margin-bottom: 15px;
  }

  .kpi-card {
    page-break-inside: avoid;
  }

  /* Seitenumbruch für Seite 2 */
  .page-break {
    page-break-before: always;
  }

  .report-header {
    display: block !important;
    margin-bottom: 10px;
  }

  canvas, svg {
    max-width: 100% !important;
    height: auto !important;
  }
}
